* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: auto;
}

.content {
  padding: 0 104px;
}

/* General Text Style */
.montserrat-regular {
  font-family: "MontserratRegular";
}

.montserrat-regular-12px {
  font-family: "MontserratRegular";
  font-size: 12px;
  font-weight: 600;
}

.montserrat-semibold {
  font-family: "MontserratSemiBold";
}

.montserrat-semibold-16px {
  font-family: "MontserratSemiBold";
  font-size: 16px;
}

.montserrat-bold {
  font-family: "MontserratBold";
}

.montserrat-bold-12px {
  font-family: "MontserratBold";
  font-size: 12px;
}

.montserrat-bold-24px {
  font-family: "MontserratBold";
  font-size: 24px;
}

.trade-gothic-bold {
  font-family: "TradeGothicBold";
  font-size: 24px;
  line-height: 25px;
}

/* General Style */
.large-button {
  background-color: #8dd3bb;
  width: 100%;
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: center;
  font-weight: 500;
}

/* Search Tab Style */
.search-container {
  position: relative;
  top: -70px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.15);
  border-radius: 16px;
  padding: 16px 32px 32px;
}

.label-text {
  position: absolute;
  top: -25%;
  left: 8px;
  z-index: 1;
  padding: 0 4px;
  background-color: white;
  font-size: 14px;
}

.tab-items {
  margin-top: 20px;
}

.hidden-button {
  width: 100%;
  padding: 0;
  height: 48px;
  color: black;
}

.show-result-button-container {
  display: flex;
  flex-direction: row-reverse;
}
